body{
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.cart{
    background-color: #F5F5F5;
}
.header1{
    background-color: #DF453E;
    width: 100%;
    max-width: 100%;
    height: 70px;
}
.list1{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 110px;
}
.header1-img1{
    width: 81px;
    height: 28px;
    margin: 18px 200px 0 -300px;
}
.list1-items{
    margin: 16px;
}
.a1{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}





.main2{
    width: 1200px;
    height: 913px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 60px auto;
}
.main2-100{
    width: 980px;
    height: 741px;
}
.main2-110{
    width: 980px;
    height: 36px;
    color: #161616;
    font-size: 28.53px;
    margin-bottom: 23px;
}
.main2-120{
    width: 980px;
    height: 682px;
}
.main2-121{
    width: 980px;
    height: 158px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-bottom: 24px;
}
.list4{
    width: 980px;
    height: 50px;
    margin: 0;
    background-color: #fbfbfb;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}
.list4 .list4-items1{
    height: 26px;
    font-size: 16px;
    font-weight: bold;
}
.s1{
    margin-left: 250px;
}
.s2{
    margin-left: 225px;
}
.s3{
    margin-left: 125px;
}
.s4{
    margin-left: 30px;
}
.list5{
    width: 930px;
    height: 108px;
    margin: 0;
    align-items: center;
    display: flex;
}
.list5-items1{
    width: 78px;
    height: 108px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.list5-items1 button{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 21px;
    height: 21px;
    border-radius: 21px;
    border: 1px solid #999999;
    background-color: #fbfbfb;
    cursor: pointer;
    transition: border-color 0.1s ease;
}
.list5-items1 button:hover{
    border-color: #161616;
}
.cross{
    width: 10px;
    height: 10px;
    position: relative;
}
.cross:before,
.cross:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #999999;
    transition: background-color 0.1s ease;
}
.cross:before{
    transform: rotate(45deg);
}
.cross:after{
    transform: rotate(-45deg);
}
.list5-items1 button:hover .cross::before,
.list5-items1 button:hover .cross::after {
    background-color: #161616;
}
.list5-items2{
    width: 153px;
    height: 108px;
    align-items: center;
    display: flex;
    margin-left: 16px;
}
.main2-img{
    width: 70px;
    height: 84px;
}
.main5-items3{
    font-size: 16px;
}
.x1{
    width: 326px;
    height: 108px;
    align-items: center;
    display: flex;
}
.x11{
    color: #DF453E;
    margin-left: 16px;
}
.x2{
    width: 146px;
    height: 108px;
    margin-left: 16px;
    align-items: center;
    display: flex;
}
.x3{
    width: 90px;
    height: 108px;
    margin-left: 16px;
    align-items: center;
    display: flex;
}
.x31{
    width: 58px;
    height: 35px;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 600;
}
.x4{
    width: 137px;
    height: 108px;
    margin-left: 16px;
    align-items: center;
    display: flex;
}
.x41{
    display: flex;
    align-items: center;
}
.x411{
    margin: 0;
}


.main2-122{
    position: relative;
    width: 980px;
    height: 500px;
}
.main2-1221{
    position: absolute;
    width: 474px;
    height: 468px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    top: 0;
    right: 0;
    display: flex;
}
.main2-12211{
    position: absolute;
    width: 474px;
    height: 52px;
    background-color: #fbfbfb;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}
.main2-122111{
    position: absolute;
    width: 135px;
    height: 24px;
    left: 20px;
    color: #161616;
    font-size: 19.05px;
    font-weight: bold;
}
.main2-12212{
    position: absolute;
    width: 432px;
    height: 272px;
    bottom: 0;
    left: 21px;
}
.main2-table{
    position: absolute;
    bottom: 120px;
    color: #4B4F58;
    font-size: 16px;
}
table{
    width: 432px;
    border: none;
    border-collapse: collapse;
}
td{
    vertical-align: top;
    height: 46.4px;
    border: none;
}
tr{
    border-bottom: 1px solid #4B4F58;
}
.main2-tablec1{
    width: 173px;
}
.main2-tablec2{
    width: 259px;
}
.main2-table1{
    height: 24px;
    margin-left: 16px;
    margin-top: 11.2px;
}
.y1{
    display: flex;
    height: 24px;
}
.y4{
    display: flex;
}
.y41{
    font-weight: bold;
}
.y2{
    height: 50px;
}
.y3{
    color: #DF453E;
    margin-bottom: 11.2px;
}
.main2-button1{
    position: absolute;
    width: 432px;
    height: 100px;
    bottom: 0;
    background-color: #DF453E;
    color: #ffffff;
    font-size: 17.6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.main2-button1:hover{
    background-color: #ce4139;
}





.footer1{
    padding-top: 65px;
    width: 100%;
    height: 347px;
    background-color: #161616;
    justify-content: center;
    display: flex;
}
.footer1-100{
    width: 1200px;
    height: 147px;
    display: flex;
}
.footer1-img1{
    width: 200px;
    height: 68px;
}
.footer1-110{
    width: 200px;
    height: 147px;
    margin-left: 105px;
}
.footer1-111{
    color: #ffffff;
    font-size: 25px;
}
.list3{
    list-style: none;
    padding-left: 0;
}
.list3-items1{
    margin-top: 5px;
}
.a2{
    color: #ffffff;
}