body{
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.pay{
    background-color: #F5F5F5;
}
.header1{
    background-color: #DF453E;
    width: 100%;
    max-width: 100%;
    height: 70px;
}
.list1{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 110px;
}
.header1-img1{
    width: 81px;
    height: 28px;
    margin: 18px 200px 0 -300px;
}
.list1-items{
    margin: 16px;
}
.a1{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}





.main3{
    width: 1200px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 60px auto;
}
.main3-1{
    width: 980px;
    margin-top: 85px;
    margin-bottom: 100px;
}
.main3-11{
    height: 36px;
    font-size: 30px;
    color: #161616;
    margin-bottom: 6px;
    font-weight: 600;
}
.main3-121{
    height: 60px;
    background-color: #F7F6F7;
    border: none;
    border-top: 3px solid #DF453E;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
}
.main3-1211{
    width: 16px;
    height: 16px;
    margin-left: 20.8px;
}
.main3-1212{
    height: 25.6px;
    font-size: 16px;
    color: #515151;
}
.z1{
    color: #DF453E;
    cursor: pointer;
}
.main3-form{
    display: flex;
    gap: 42px;
}
.main3-form1{
    width: 543px;
}
.main3-12121{
    display: none;
    width: 543px;
    height: 80px;
    padding-bottom: 64px;
}
.main3-121211-label{
    font-weight: 500;
}
.main3-121212{
    display: flex;
    margin-top: 20px;
    height: 35px;
    gap: 5px;
}
.z2{
    width: 200px;
}
.z3{
    width: 100px;
    background-color: #DF453E;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.z3:hover{
    background-color: #ce4139;
}
h3{
    height: 58px;
    font-size: 18.75px;
    color: #161616;
    align-items: center;
    display: flex;
    margin: 0;
    border: none;
    border-bottom: 1px solid #dddddd;
}
.main3-form11{
    width: 543px;
    display: flex;
    flex-wrap: wrap;
}
.main3-form111{
    width: 543px;
    color: #4B4F58;
    font-size: 14.4px;
    font-weight: bold;
    margin-top: 20px;
}
.v1{
    width: 249px;
}
.v2{
    height: 44.8px;
}
.w1{
    margin-right: 45px;
}
.form1-label{
    height: 28.8px;
    display: block;
}
.form1-input{
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    padding-left: 10px;
}
.yc{
    color: #ff0000;
}
.main3-form1111{
    height: 25.6px;
    font-size: 16px;
    font-weight: bold;
    color: #4B4F58;
}
input::placeholder{
    font-size: 16px;
    color: #757575;
    align-items: center;
    display: flex;
    padding-left: 12.8px;
}

.main3-view{
    width: 395px;
}
.main3-view1{
    padding: 0;
    border: 1.6px solid #dddddd;
    box-sizing: border-box;
}
.main3-view11{
    height: 73px;
}
.main3-view111{
    height: 24px;
    font-size: 19.4px;
    font-weight: bold;
    color: #161616;
    padding-left: 30px;
    padding-top: 30px;
}
.main3-view12{
    justify-content: center;
    display: grid;
}
.main3-table{
    width: 326px;
    height: 315px;
    font-size: 16px;
    color: #4B4F58;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
tr{
    border-bottom: 1px solid #4B4F58;
}
.t1{
    font-weight: bold;
}
.t2{
    height: 100%;
    display: flex;
}
.t21{
    width: 157px;
    align-self: center;
}
.t22{
    width: 30px;
    align-self: center;
    display: flex;
}
.t221{
    display: flex;
    align-items: center;
}
.t3{
    display: flex;
    align-items: center;
    justify-content: end;
}
.main3-tablec1{
    width: 187px;
    font-weight: 600;
}
.main3-tablec2{
    width: 139px;
}
.table-items1{
    padding-right: 7px;
    text-align: end;
}

.main3-view121{
    width: 326px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.main3-form21{
    align-items: center;
    margin-bottom: 10px;
}
.form2-input{
    width: 15px;
    height: 15px;
    color: #0075FF;
    margin: 0;
    display: inline;
}
.form2-label{
    width: 278px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #4B4F58;
    margin-left: 33px;
    display: inline;
}
.select1{
    display: none;
    width: 280px;
    background-color: #EFEFEF;
    font-size: 14.7px;
    font-weight: 400;
    color: #515151;
    padding: 14px 14px;
    margin-top: 10px;
}
input[type="radio"]:checked + label + .select1{
    display: block;
}

.main3-button{
    width: 326px;
    height: 46px;
    background-color: #DF453E;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.1s ease;
    margin-bottom: 54px;
}
.main3-button:hover{
    background-color: #ce4139;
}





.footer1{
    padding-top: 65px;
    width: 100%;
    height: 347px;
    background-color: #161616;
    justify-content: center;
    display: flex;
}
.footer1-100{
    width: 1200px;
    height: 147px;
    display: flex;
}
.footer1-img1{
    width: 200px;
    height: 68px;
}
.footer1-110{
    width: 200px;
    height: 147px;
    margin-left: 105px;
}
.footer1-111{
    color: #ffffff;
    font-size: 25px;
}
.list3{
    list-style: none;
    padding-left: 0;
}
.list3-items1{
    margin-top: 5px;
}
.a2{
    color: #ffffff;
}




.error {
    color: red;
    display: none;
}
.error.show {
    display: block;
}